<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
<title>Home</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
<link href="{% static 'landing/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'landing/css/fontawesome-all.min.css' %}" rel="stylesheet">
<link href="{% static 'landing/css/swiper.css' %}" rel="stylesheet">
<link href="{% static 'landing/css/styles.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'landing/css/styles1.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="icon" href="{% static 'landing/img/bas-removebg-preview.png' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <navbar>
        <a href="{% url 'index' %}"><img src="{% static 'landing/img/logo-removebg-preview.png' %}" alt="" class="logo"></a>


        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav ms-auto">

                
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="btn btn-link text-white text-decoration-none fs-5 auth" href="{% url 'dashboard' %}">Dashboard</a></button></li>
                <li class="nav-item"><a class="btn btn-link text-white text-decoration-none fs-5 auth" href="{% url 'archive' %}">Archive</a></button></li>
                <li class="nav-item"><a class="btn btn-outline-light fs-5 auth" href="{% url 'logout' %}">Logout</a></button></li>
                {% else %}
                <li class="nav-item"><a class="btn btn-outline-light fs-5 auth" href="{% url 'login' %}">Sign in</a></button></li>
                <li class="nav-item"><a class="btn btn-outline-light fs-5" href="{% url 'register' %}">Sign up</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
    </navbar>




    <article class="container">
        <div class="header-hus">
            <div class="profile">
                <img src="{% static 'landing/img/zaman.png' %}" alt="" class="profile-pic">
                <p class="header-text">Zaman</p>
            </div>
            <p id="subject" class="room-name">696.21ES</p>
            <p class="time">1 week ago</p>
        </div>
        <hr>
        <div class="body">
            <p id="body" class="body-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam exercitationem
                incidunt ad nesciunt deserunt molestias praesentium beatae reprehenderit, sed id fugiat quam saepe
                maiores quae libero dignissimos in ut numquam!</p>
        </div>

        <div class="buttons-for-share">
            <a href=""><i class="fa-regular fa-pen-to-square fa-2xl"></i></a>
            <button onclick="window.location.href='mailto:kazimovzaman2@gmail.com?subject=' + encodeURIComponent(document.getElementById('subject').innerHTML) + '&body=' + encodeURIComponent(document.getElementById('body').innerHTML)">Mail to</button>
        </div>




    </article>



    <script type="text/javascript" src="{% static 'main/js/script.js' %}"></script>
</body>
</html>
