<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Landing Page</title>

    <link rel="icon" href="{% static 'landing/img/bas-removebg-preview.png' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{% static 'landing/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'landing/css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link href="{% static 'landing/css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'landing/css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'landing/css/styles1.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</head>

<body>
    <navbar>
        <a href="{% url 'index' %}"><img src="{% static 'landing/img/logo-removebg-preview.png' %}" alt="" class="logo"></a>

        <!-- <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">Features</a>
            <a href="#">Pricing</a>
            <a href="#">Contacts</a>
            <a class="btn btn-outline-light" href="{% url 'login' %}">Sign in</a></button>
            <a class="btn btn-outline-light" href="{% url 'register' %}">Sign up</a>
        </nav> -->


        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav ms-auto">

                <li class="nav-item"><a class="nav-link fs-5" href="#features">Features</a></li>
                <li class="nav-item"><a class="nav-link fs-5" href="#team">Team</a></li>
                <li class="nav-item"><a class="nav-link fs-5" href="#pricing">Pricing</a></li>
                <li class="nav-item"><a class="nav-link fs-5 auth" href="#contacts">Contacts</a></li>
                
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="btn btn-outline-light fs-5 auth" href="{% url 'logout' %}">Logout</a></button></li>
                {% else %}
                <li class="nav-item"><a class="btn btn-outline-light fs-5 auth" href="{% url 'login' %}">Sign in</a></button></li>
                <li class="nav-item"><a class="btn btn-outline-light fs-5" href="{% url 'register' %}">Sign up</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
    </navbar>

    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1 class="h1-large">WEB APP <br>FOR <span class="replace-me">LEARNERS</span></h1>
                        <p class="p-large">Nothing prevent learning. With our app, learners can access educational resources from anywhere in the world, at any time of day or night.</p>
                        <a class="btn-solid-lg" href="{% url 'dashboard' %}">Go to Dashboard</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <img class="img-fluid" src="{% static 'landing/img/main.png' %}" alt="alternative">
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->








    <div id="features" class="tabs-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">FEATURES</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            
            <div class="row">


                <!-- Tabs Content-->
                <div class="tab-content" id="navTabsContent">
                    
                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="nav-tab-1">
                        <div class="container">
                            <div class="row">
                                
                                <!-- Icon Cards Pane -->
                                <div class="col-lg-4">
                                    <ul class="list-unstyled li-space-lg first">
                                        <li class="d-flex">
                                            <div class="icon">
                                                <span class="fa-stack">
                                                    <i class="fas fa-circle fa-stack-2x"></i>
                                                    <i class="far fa-compass fa-stack-1x"></i>
                                                </span>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h5>Easy Connection</h5>
                                                <p>You can join only our link which is sent by speaker.</p>
                                            </div>
                                        </li>
                                        <li class="d-flex">
                                            <div class="icon">
                                                <span class="fa-stack">
                                                    <i class="fas fa-circle fa-stack-2x"></i>
                                                    <i class="fas fa-code fa-stack-1x"></i>
                                                </span>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h5>Convenience</h5>
                                                <p>Program is availible for online and offline conversation.</p>
                                            </div>
                                        </li>
                                        <li class="d-flex">
                                            <div class="icon">
                                                <span class="fa-stack">
                                                    <i class="fas fa-circle fa-stack-2x"></i>
                                                    <i class="far fa-gem fa-stack-1x"></i>
                                                </span>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h5>Cost Effective</h5>
                                                <p>You just need one wireless microphone for all auditory.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div> <!-- end of col -->
                                <!-- end of icon cards pane -->

                                <!-- Image Pane -->
                                <div class="col-lg-3">
                                </div> <!-- end of col -->
                                <!-- end of image pane -->
                                
                                <!-- Icon Cards Pane -->
                                <div class="col-lg-4">
                                    <ul class="list-unstyled li-space-lg last">
                                        <li class="d-flex">
                                            <div class="icon">
                                                <span class="fa-stack">
                                                    <i class="fas fa-circle fa-stack-2x"></i>
                                                    <i class="fas fa-calendar-alt fa-stack-1x"></i>
                                                </span>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h5>Accessibilty</h5>
                                                <p>Everyone can join to one link at the same time.</p>
                                            </div>
                                        </li>
                                        <li class="d-flex">
                                            <div class="icon">
                                                <span class="fa-stack">
                                                    <i class="fas fa-circle fa-stack-2x"></i>
                                                    <i class="fas fa-book fa-stack-1x"></i>
                                                </span>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h5>Good Foundantion</h5>
                                                <p>The configuration of app is easy for all users, and they can change the text.</p>
                                            </div>
                                        </li>
                                        <li class="d-flex">
                                            <div class="icon">
                                                <span class="fa-stack">
                                                    <i class="fas fa-circle fa-stack-2x"></i>
                                                    <i class="fas fa-cube fa-stack-1x"></i>
                                                </span>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h5>Refined options</h5>
                                                <p>Unlike other apps, it can save text, make changes, add information, and highlight necessary parts.</p>
                                            </div>
                                        </li>
                                    </ul> 
                                </div> <!-- end of col -->
                                <!-- end of icon cards pane -->

                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->



                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of row --> 
        </div> <!-- end of container --> 
    </div> <!-- end of tabs-1 -->
    <!-- end of features -->






    <section id="pricing">
        <div class="container">
            <h2 class="pricing-heading">Pricing</h2>
            <div class="row">
                <div class="pricing-column col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Standart</h3>
                        </div>
                        <div class="card-body">
                            <h3>Free</h3>
                            <p>Limited Usage</p>
                            <button class="btn btn-lg btn-block btn-outline-light" type="button">Sign Up</button>
                        </div>
                    </div>
                </div>

                <div class="pricing-column col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>6 months Premium</h3>
                        </div>
                        <div class="card-body">
                            <h2>$20 / mo</h2>
                            <p>Unlimited Usage</p>
                            <button class="btn btn-lg btn-block btn-outline-light" type="button">Sign Up</button>
                        </div>
                    </div>
                </div>

                <div class="pricing-column col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Yearly Premium</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="pricing-text">$30 / mo</h2>
                            <p>Unlimited Usage</p>
                            <button class="btn btn-lg btn-block btn-outline-light" type="button">Sign Up</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    
    <div id="team" class="slider-1 bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <h1>Team</h1> <br> <br>
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'landing/img/zaman.png' %}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-author">Zaman Kazimov - Full Stack Developer</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'landing/img/huseyn.jpeg' %}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-author">Huseyn Israfilov - Frontend Developer</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'landing/img/nuray.jpeg' %}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-author">Nuray Nezerli - Content Create</p>
                                        </div>
                                    </div>        
                                </div>
        
                                
                            
                            </div> <!-- end of swiper-wrapper -->
        
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->
        
                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of testimonials -->






    
        <!-- Footer -->
        <div id="contacts" class="footer bg-dark-blue">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <div class="footer-col first">
                            <h6>About Website</h6>
                            <p class="p-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex dignissimos, ullam quasi eaque corrupti provident esse odio aspernatur mollitia, harum iusto neque libero nisi.</p>
                        </div> <!-- end of footer-col -->
                        <div class="footer-col second">
                            <h6>Links</h6>
                            <ul class="list-unstyled li-space-lg p-small">
                                <li>Important: <a href="">Terms & Conditions</a>, <a href="">Privacy Policy</a></li>
                                <li>Useful: <a href="#">Colorpicker</a>, <a href="#">Icon Library</a>, <a href="#">Illustrations</a></li>
                                <li>Menu: <a href="">Home</a>, <a href="">Article</a>, <a href="">Features</a>, <a href="">Contact</a></li>
                            </ul>
                        </div> <!-- end of footer-col -->
                        <div class="footer-col third">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-pinterest-p fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>
                            <p class="p-small">If you want to mail us <a href="mailto:kazimovzaman2@gmail.com"><strong>kazimovzaman2@gmail.com</strong></a></p>
                        </div> <!-- end of footer-col -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->  
        <!-- end of footer -->

    


    
    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="{% static 'landing/img/up-arrow.png' %}" alt="alternative">
    </button>
    <!-- end of back to top button -->

    <!-- Scripts -->
    <script src="{% static 'landing/js/bootstrap.min.js' %}"></script> 
    <script src="{% static 'landing/js/swiper.min.js' %}"></script> 
    <script src="{% static 'landing/js/purecounter.min.js' %}"></script> 
    <script src="{% static 'landing/js/replaceme.min.js' %}"></script> 
    <script src="{% static 'landing/js/scripts.js' %}"></script> 
</body>

</html>